<div id="{{ include.boxid }}"></div>
<script src="/assets/leaflet/leaflet.js"></script>
<link href="/assets/leaflet/leaflet.css" rel="stylesheet"/>
<script>
// Where you want to render the map.
var element = document.getElementById('{{ include.boxid }}');

// Height has to be set. You can do this in CSS too.
element.style = 'height:400px;';

// Target's GPS coordinates.
var lat            = {{ include.lat }};
var lon            = {{ include.lon }};
var zoom           = {{ include.zoom }};
var target = L.latLng(lat, lon);

// Create Leaflet map on map element.
var map = L.map(element);

// Add OSM tile layer to the Leaflet map.
L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// Set map's center to target with zoom.
map.setView(target, zoom);

// Place a marker on the same location.
L.marker(target).addTo(map)
  {% if include.text %}.bindPopup(`{{ include.text|escape }}`).openPopup(){% endif %}
;
</script>
