<!--
 Post sharing snippet
-->
<script type="text/javascript">
/* Generate a share link for the user's Mastodon domain */
function MastodonShare(e){
    e.preventDefault();

    // Gather the source text and URL
    src = this.getAttribute("href").substr(1);

    // Gather the Mastodon domain
    domain = prompt("Enter your Mastodon domain. This is the website your Mastodon account is on. For example, mastodon.social, or a2mi.social.", "mastodon.social");

    if (domain == "" || domain == null){
        return false;
    }

    baredomain = domain.replace(/^https?:\/\/([^\/]*).*$/, '$1');

    // Build the URL
    url = "https://" + baredomain + "/share?text=" + src;

    // Open a window on the share page
    window.open(url, '_blank');

    return false;
}

/* Call this on document.ready() */
function enableMastodonShare(){
    var ele = document.querySelector('.share-wrapper a.Mastodon');
    ele.addEventListener('click', MastodonShare);
    /* Make visible by removing the original display: none */
    ele.classList.add('visible');
}

document.addEventListener('readystatechange', function () {
  if (this.readyState === 'interactive') {
    enableMastodonShare();
  }
});
</script>

<style>
a.Mastodon { display: none; }
.share-wrapper a.Mastodon { display: inline; }
</style>


<div class="share-wrapper">
  <nav aria-label="Share">
  <span class="share-label text-muted mr-1">{{ site.data.locales[site.lang].post.share }}</span>
  <span class="share-icons">
    {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
    {% assign title = title | uri_escape %}
    {% assign url = page.url | absolute_url | url_encode %}

    {% for share in site.data.share.platforms %}
      {% assign link = share.link | replace: 'TITLE', title | replace: 'URL', url %}
        {% comment %}For Mastodon, I link to an anchor tag.  My linter insists that the tag must exist.{% endcomment %}
        {% if share.type == 'Mastodon' %}
        <a name="{{ link | replace: '#', '' }}"></a>
        {% endif %}
        <a href="{{ link }}" data-toggle="tooltip" data-placement="top"
          class="{{ share.type }}" title="{{ share.type }}" target="_blank" rel="noopener" aria-label="{{ share.type }}">
          <i class="fa-fw {{ share.icon }}"></i>
        </a>
    {% endfor %}

    <i id="copy-link" class="fa-fw fas fa-link small"
        data-toggle="tooltip" data-placement="top"
        title="{{ site.data.locales[site.lang].post.button.share_link.title }}"
        data-title-succeed="{{ site.data.locales[site.lang].post.button.share_link.succeed }}">
    </i>

  </span>
  </nav>
</div>
